*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
*.cfg
*.hpp
*Resource.rc
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
__history/
__recovery/
*.~*
*.stat
node_modules
TMSWeb
.DS_Store
TMSWeb/Build-MacOS64/main.js
TMSWeb/Build-MacOS64/TryTIMSDK.js
TMSWeb/Debug/TryTIMSDK.js
TMSWeb/.DS_Store
TMSWeb/Build-MacOS64/.DS_Store
TMSWeb/Build-MacOS64/main.js
TMSWeb/Build-MacOS64/TryTIMSDK.js
TMSWeb/Debug/TryTIMSDK.js
.DS_Store
